footer.l-site-footer
  ul.l-social-list
    li: a(href="#")
      img(src="images/facebook-square.svg", alt="facebook icon")
    li: a(href="#")
      img(src="images/pinterest.svg", alt="pinterest icon")
    li: a(href="mailto:sophie@sustainablelifestyle.design")
      img(src="images/mail.svg", alt="email icon")

  ul.l-contact-list
    li: a(href="mailto:sophie@sustainablelifestyle.design")
      | sophie@sophie-ellison.com