footer.l-site-footer
  .l-site-footer-column
    ul.l-social-list
      li: a(href="#")
        img(src="images/facebook-square.svg", alt="facebook icon")
      li: a(href="#")
        img(src="images/pinterest.svg", alt="pinterest icon")
      li.last: a(href="mailto:sophie@sustainablelifestyle.design")
        img(src="images/mail.svg", alt="email icon")
  .l-site-footer-column
    a(href="/sitemap.html") Sitemap
  .l-site-footer-column
    a(href="http://john-ellison.com") Website by John Ellison
  .l-site-footer-column
    ul.l-contact-list
      li: a(href="mailto:sophie@sophie-ellison.com", data-event="contact-link").contact
        | sophie@sophie-ellison.com