header.l-main-header
  nav.l-main-nav
    ul.l-menu-left
      li: a(href='/') Home

    ul.l-menu-right
      li: a(href='/projects.html') Projects
      li: a(href='/who-i-am.html') Who I Am
      li: a(href='/what-i-do.html') What I Do
      li: a(href='/inspiration.html') Inspiration
      li: a(href='/contact.html') Contact
