ul
  li: a(href='/projects.html') Projects
  li: a(href='/who-i-am.html') Who I am
  li: a(href='/what-i-do.html') What I Do
  li: a(href='/inspiration.html') Inspiration
  li: a(href='/contact.html') Contact
