header.l-site-header
  nav.top-bar(data-topbar='', role='navigation')
    ul.title-area
      li.name
        h1
          a(href='/') Sustainable Lifestyle Design
      li.toggle-topbar.menu-icon
        a(href='#')
          span Menu

    section.top-bar-section
      ul.right
        li: a(href='/') Home
        li: a(href='/projects.html') Projects
        li: a(href='/what-i-do.html') What I Do
        li.has-dropdown
          a(href='/about.html') About
          ul.dropdown
            li: a(href='/about.html') Me &amp; My Story
            li: a(href='/my-process.html') My Process
            li: a(href='/inspiration.html') Inspiration
        li#contact: a(href='/contact.html') Contact
