header.l-site-header
  nav.l-site-nav
    ul.l-aleph-menu
      li: a(href='/') Home

    ul.l-beyt-menu
      li.first: a(href='/projects.html') Projects
      li: a(href='/about.html') About 
        //- ul
          li: a(href='/who-i-am.html') Who I Am
          li: a(href='/what-i-do.html') What I Do
      li: a(href='/contact.html') Contact
      li: a(href='/inspiration.html') Inspiration
