.l-my-story-content
  h1 My Story
  p.typl8-drop-cap I was on the road to finishing my Master's of Architecture when I became terribly ill. I saw dozens of doctors, but none of them could figure out what was wrong with me. My health continued its downward spiral and I scoured the web for any answers I could find.

  p My life became a struggle to survive—to keep food in my system long enough to have energy to eat the next meal. I was forced to step out of Architecture school because of my health, and while it seemed devastating to give up seven years of education—it opened the door to a completely new type of thinking, one that would become my life's passion and work.

  p I realized that my life was not sustainable. From the car that I drove to the food that I ate—from the materials of the home we lived in to the fertilizer used in our yard—there was a flaw in this obsessive mentality of consumption.

  p My experience in architecture showed me glimpses of incorporating sustainability and community into a design, but nothing I had seen or done incorporated sustainability and community at the very center. I saw architects, designers and builders fighting with nature at every turn, and I thought there had to be a better way.

  p I poured through dozens of books, attended as many workshops I could find and discovered a new type of design thinking which used the systems of nature instead of fighting against them. But most of  what I saw was either focusing on the landscape or the building—never both. I wanted to design an entire lifestyle around health and sustainability—where the building and the landscape work together in one unified system towards serving the needs of those who live in it.

  p A friend of mine approached me to design a multi-family residence for Bhutanese refugees and I implemented what I learned from my journey away from architecture school. In designing a sustainable system I began to realize how well all of the skills I'd gained from architecture school had prepared me for this type of work, but I also realized that sustainability requires so much expertise—from understanding plant guilds to controlling water flow, not to mention the physical implementation of the design.

  p In my workshops I started meeting people with skills in areas I had little to no experience in, and I knew that I had to start a business that would allow people from all walks of life to work together towards creating sustainable lifestyles—for ourselves, for our families and for our community.

  p Living a life where you can grow enough organic food to feed your family is entirely possible. Living a life where you are not dependant on the grid is not only feasible but incredibly fulfilling and fruitful. 

  p Designing a sustainable lifestyle starts with a few small steps, and my guess is if you're reading this—you've already made several. 

  p We can look at your needs and design the lifestyle of your dreams. 