.m-process-step-header-wrapper {
  @include grid-row();
}

.m-process-step-header {
  @include grid-column(12);
  text-align: center;
  hyphens: none;
  @media #{$small-only} {
    @extend .typl8-gamma;
  }
}

.m-process-wrapper {
  position: relative;
  text-align: center;
  .m-process-step-item {
    @include grid-row();
    margin-bottom: 3.3rem;
    @media screen and (min-width: 712px) and (max-width: 955px) {
      text-align: left;
      margin-bottom: 1.65rem;
      .m-process-icon-content {
        @include grid-column(3);
      }
      .m-process-copy-content {
        @include grid-column(9);
      }
      &.odd {
        text-align: left;
        .m-process-icon-content {
          @include grid-column($columns: 3, $push: 9);
        }
        .m-process-copy-content {
          @include grid-column($columns: 9, $pull: 3);
        }
      }
    }
    @media screen and (min-width: 956px) {
      text-align: right;
      .m-process-icon-content {
      }
      .m-process-copy-content {
        @include grid-column(5);
        margin-top: -10rem;
      }
      &.odd {
        text-align: left;
        .m-process-icon-content {
          // @include grid-column($columns: 3, $push: 9);
        }
        .m-process-copy-content {
          @include grid-column($columns: 5, $push: 7);
        }
      }
    }
  }
  .m-process-icon-content {
    @include grid-column(12);
  } 
  .m-process-copy-content {
    @include grid-column(12);
  }
  .m-process-icon {
    background-color: $white;
    background-size: 8rem 8rem;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    margin: 0 auto 1.65rem auto;
    // position: relative;
    @media screen and (min-width: 956px ) {
      border: 2px solid $secondary-color;
      img {
        width: 6.5rem;
        height: 6.5rem;
        padding: 1rem;
        &#interview{
          padding-left: 1.4rem;
          padding-bottom: 1.2rem;
        }
        &#observation{
          padding-left: 1.1rem;
          padding-bottom: 1.2rem;
        }
        &#analysis{
          padding-bottom: 1.1rem;
        }
        &#detailed{
          padding-right: 1.8rem;
        }
        &#implementation{
          padding-bottom: 1.8rem;
        }
      }
    }
    z-index: 2;
    img {
      width: 8rem;
      height: 8rem;
    }
  }
  .line {
    display: none;
    @media screen and (min-width: 956px) {
      display: inline-block;
      background: $secondary-color;
      width: 2px;
      bottom: 0;
      position: absolute;
      top: 8rem;
      left: 50%;
      z-index: -1;
      &#discover {
        height: 680px;
      }
      &#design {
        height: 450px;
      }
      &#create {
        height: 380px;
      }
    }
  }
}




