.top-bar {
  z-index: 99;
  box-shadow: $global-shadow;
}

.top-bar .toggle-topbar.menu-icon a {
  font-family: $font-family-sans-serif;
  letter-spacing: 1.2;
}

.top-bar-section ul.right li#contact a {
  background-color: $primary-color;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.button-group {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  @include grid-row();
  &:before {
    @media #{$medium-up} {
      content: attr(data-grouptype);
      z-index: 2;
      color: $header-font-color;
      display: block;
      font-size: 1rem;
      padding: .45em .25em .25em .55em;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      left: 50%;
      top: 0.55rem;
      height: 2rem;
      width: 2rem;
      margin-left: -1rem;
      line-height: 1;
      // font-family: $font-family-sans-serif;
      // font-variant: small-caps;
      font-size: 1rem;
      font-style: italic;
    }
  }
  .button {
    width: 100%;
    @media #{$medium-up} {
      @include grid-column(6);
    }
  }
}

.clearing-thumbs {
  img {
    max-height: 141px;
    width: auto;
    height: auto;
    margin-bottom: 0;
  }
}

