extends layout

block title 
  | About - Sustainable Lifestyle Design

block content
  article.l-main-content
    .l-about-content
      h1 About Me
      img(src="http://placehold.it/600x400", alt="")
      p My Name is Sophie Ellison. I’m a lifestyle designer passionate about helping people live sustainable lives. 
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam quasi assumenda vel tenetur vitae, blanditiis eos nihil repellendus eveniet quae voluptates ab. Cumque porro dolor tempora aliquid sint, accusamus ea!
    include views/includes/my-story