extends layout

block title 
  | About - Sustainable Lifestyle Design

block content
  article.l-main-content
    .l-about-content
      h1 About Me
      img(src="http://placehold.it/574x354", alt="")
      p.drop-cap My Name is Sophie Ellison and I’m originally from London, where I completed a year of fine arts, followed by my Bachelors of Architecture, at the Architectural Association. 

      p My passion throughout this experience lay in community-led design; using the local wisdom of those who deeply knew an area, to guide the design process. I was also extremely passionate about natural building and sustainability and spent time building a straw bale house in the Negev desert, Israel, building a community gathering area and oven in Koshirakura, Japan and started a recycling movement in Dahab, Egypt. 

      p Taking a year out to further explore these passions, I, along with some friends initiated a project in Dehradun, India to design classrooms for a school that had both the poorest children in the area, and children with disabilities. It was full of challenges, beauty, and growth and has deeply shaped how I go about my work today. 

      p The second part of our Indian chapter involved building earth homes in a leprosy colony called Sundurpur, in Bihar. Using oxen in place of mixers, and hands in place of machines, this project got to the very heart of craft, creativity and detail and has pushed me to think creatively in every step of my process. 

      p Calling me next, was Denver, Colorado! This was where my husband-to-be was living. This chapter has been my most recent and the past 3 years of my life. It’s involved my highest highs, and lowest lows. On the high, I worked my way through a master’s of architecture, worked on multiple straw bale projects all around the rocky mountains, and became a wife. On the low, I fell drastically sick and was given a choice: to continue my path as I knew it, or to re-think it and follow a road that led to a lifestyle that could be sustained. 
    include views/includes/my-story