extends views/layouts/project

block title 
  | Bell Park - Sophie Ellison Design

block content
  //- Variables for template
  - var projectId = 1
  - var project = projects[projectId]

  +project-header(project)

  article.l-main-content
    h1.l-project-title= capitalize(humanize(project.name))
    .l-project-content
      p.drop-cap  As a master’s of architecture project, the scope of this project was far larger than anything I had done before. The client was asking for accommodation for 300 students, a community centre, library, cafe, lecture hall and transit hub, all on a 7 acre site, in the centre of Denver, Colorado.  
      p The site, being right in the centre of Denver, was surrounded on all sides by noise, roads and large buildings. It’s beauty lay in the river that ran through it’s centre, something that sparked my idea for the following concept:
      aside.pull-quote
        blockquote
          p Out of the concrete desert... lies a luscious oasis. 
      p I figured it would be a breath of fresh air for the students after their busy days to take refuge in the quiet, green, urban oasis of Bell Park. I decided to focus my efforts on making the site as inviting, green and sheltered as I could, for where else in the city could you find peace?
      p As a result, the buildings are designed at the perimeter of the site, enabling a quiet, secluded garden, right at its centre. The landscape is split into four segments, each reflecting the program and activity of the adjacent buildings. 
      p The project images show some larger conceptual ideas, landscape plans, elevations, sections and a sectional model that focuses in on the library’s structure. 

  section.l-project-photos-wrapper
    .l-project-photos-content
      h2 project photos

      //- Uses gulp-data to pull in photos from data/projects.json
      +list-project-photos(project.name, project.photos, false)

  +footer-nav(
    'see previous project',
    projects[projectId - 1].name + '.html',
    'see next project',
    projects[projectId + 1].name + '.html'
  )

block page-script
  script.
    var project = {
      zoomPhotos: function(data, projectId, excludedPhotos) {
        var project = data.projects[projectId];
        var photos = project.photos;

        //- removes excluded photos from zoom photo loop
        for (var i = 0; i < excludedPhotos.length; i++) {
          photos.splice(excludedPhotos[i], 1);
        }

        for (var i = 0; i < photos.length; i++) {
          var photo = photos[i];

          $('.zoom[data-zoom="' + photo.name + '"]').zoom({
            url: 'images/' + project.name + '-' + photo.name + '@3x.jpg'
          });
        }
      }
    };
    $.getJSON( 'data/projects.json', function(data) {
      //- Photos to exclude from zoom
      var excludedPhotos = [3, 4, 5, 6, 7, 13];

      // Zoom photos for Bell Park
      project.zoomPhotos(data, 1, excludedPhotos);

      //- adds span.zoom-icon for visual cue on zoomed photos
      $('.zoom').prepend('<span class="zoom-icon"></span>');
    });