extends layout

block title 
  | Contact - Sustainable Lifestyle Design

block content
  article.l-main-content  
    section.l-contact-content
      h1 Contact
      a(href="mailto:sophie@sophie-ellison.com") sophie@sophie-ellison.com