extends views/layouts/default

block title 
  | Contact - Sophie Ellison Design

block content
  article.l-main-content  
    section.l-contact-content
      h1 Contact Me
      .l-contact-info
        img(src="images/sophie-headshot.jpg", alt="", data-interchange="[images/sophie-headshot.jpg, (default)], [images/sophie-headshot@2x.jpg, (retina)]", width="275")
        dl.l-contact-info-list
          dt email:
          dd: a(href="mailto:sophie@sophie-ellison.com") sophie@sophie-ellison.com
          br
          dt phone:
          dd: a(href="tel:07523271848") 07523271848

      .l-contact-copy
        p.drop-cap If you are interested in speaking with me please send me an email or give me a call. It would be a pleasure to meet you, hear your ideas and see if we would be a good match. I start with an initial consultation to gather project requirements and then we can talk in more detail about how to move forward.

        p I am based in Brighton, England but am happy to travel just about anywhere to meet you. Who doesn't love a good excuse to travel?
          p I look forward to meeting you.

      h2.form-title send a message
      form.l-contact-form(action="http://formspree.io/sophie@sophie-ellison.com", method="post")
        fieldset
          label(for="name") your name
            span.required *
            input(type="text", placeholder="Sam Smith", name="name", id="name", required)
          label(for="email", name="email") your email
            span.required *
            input(type="text", placeholder="sam@email.com", name="email", id="email", required)
          label(for="message") your message
            span.required *
            textarea(name="message", id="message", required)
          input(type="submit" value="submit")
          //- input(type="text", name="_gotcha", style="display:none")

block page-script
  script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js")
  script.
    (function($){
      var $form = $('.l-contact-form');

      $form.validate({
        rules: {
          name: {
            required: true,
            minlength: 2,
            maxlength: 25
          },
          email: {
            required: true,
            email: true
          },
          message: {
            required: true,
            minlength: 2,
            maxlength: 5000
          }
        },
        messages: {
          name: "What is your name?",
          email: {
            required: "What is your email?",
            email: "Please enter a valid email address."
          },
          message: {
            required: "Please include a short message",
            minlength: "If you would please include a short message, I will be able to get back to you with more information.",
            maxlength: "Please write a message less than 5,000 characters."
          }
        },
        submitHandler: function(form) {
          var $sender = $('input[name="name"]').val();
          var $email = $('input[name="email"]').val();
          var $message = $('textarea').val();

          $.ajax({
            url: "//formspree.io/sophie@sophie-ellison.com",
            method: "POST",
            data: { 
              sender: $sender,
              email: $email,
              message: $message
            },
            dataType: "json",
            success: function(data) {
              $form.fadeOut();
              var $success = $('.form-title');
              $success.html('your message was sent. i will get back to you shortly.').addClass('success');
            },
            error: function(data) {
              alert("sorry! we've had a server error. please try again later." + data);
            }   
          });
        }
      });
    }(jQuery));
   

