extends views/layouts/default

block title 
  | Contact - Sophie Ellison Design

block content
  article.l-main-content  
    section.l-contact-content
      h1 Contact
      a(href="mailto:sophie@sophie-ellison.com") sophie@sophie-ellison.com
      img(src="images/sophie-headshot.jpg", alt="", data-interchange="[images/sophie-headshot.jpg, (default)], [images/sophie-headshot@2x.jpg, (retina)]", width="250")