extends views/layouts/default

block title 
  | Contact - Sophie Ellison Design

block content
  article.l-main-content  
    section.l-contact-content
      h1 Contact Me
      .l-contact-info
        img(src="images/sophie-headshot.jpg", alt="", data-interchange="[images/sophie-headshot.jpg, (default)], [images/sophie-headshot@2x.jpg, (retina)]", width="275")
        dl.l-contact-info-list
          dt Email:
          dd: a(href="mailto:sophie@sophie-ellison.com") sophie@sophie-ellison.com
          br
          dt Phone:
          dd: a(href="tel:07523271848") 07523271848

      .l-contact-copy
        p.drop-cap If you are interested in talking further, please email me directly, or give me a call. It would be a pleasure to meet you, hear your ideas and see if we would be a good match. I usually start with an initial consultation.

        p I am based in Brighton, England but am happy to travel to meet you just about anywhere. Who doesn't love a good excuse to travel? I look forward to hearing from you.


      h2 send a message
      form.l-contact-form
        .row
          .small-12.columns
            label(for="") Your Name
              input(type="text", placeholder="Sam Smith")
            label(for="") Your Email
              input(type="text", placeholder="sam@email.com")
            label(for="") Your Message
              textarea(name="")
            input(type="submit").button