extends views/layouts/project

block vars
  - var projectId = 0
  - var project = projects[projectId]
  - var page = { }
  - page.title = capitalize(humanize(project.name)) + ' Project | ' + site.title
  - page.description = project.description
  - page.url = site.domain + 'downing-community.html'
  - page.image = site.domain + 'images/downing-community-perspective-2-color.jpg'

block content

  +project-header(project)

  article.l-main-content
    h1.l-project-title= capitalize(humanize(project.name))

    .l-project-content
      p.drop-cap= project.description

      p Upon arriving to America, many families are forced into marginalized areas with high crime rates. There is little to no access to good schools let alone fresh food. This crisis creates a vicious cycle of decline, poverty and isolation.

      p Downing Community is a community of culture and hope for the Bhutanese refugees Denver. The project will give three families a chance to live an affordable, self-sustainable life, with access to great schools. This multi-family community model could open the door for many communities to follow.

      p The entire design spirals out from the community center at the heart of the house. Vegetable gardens at one’s doorstep, as well as 100% natural building materials echo Bhutanese vernacular architecture. Following dreams of the Bhutanese families here in Denver, the design includes play areas for children, ample vegetable gardens, community areas, orchards, flower gardens, chickens, goats, bees and wild foraging space. 

      p After living in desolate refugee camps these Bhutanese families deserve a new beginning. Downing Community aims to cultivate prosperity and healing as these families begin to live a new life together here in  Denver. 

      p This project is the first of many that I hope to design with  a “whole integative approach”.

  section.l-project-photos-wrapper
    .l-project-photos-content
      h2 project drawings

      //- Uses gulp-data to pull in photos from data/projects.json
      +list-project-photos(project.name, project.photos, true)

  .l-callout-wrapper
    .l-callout-content
      h3 Want To See More?
      p For people who want to see more details regarding the Downing Community project, I've compiled a PDF with detailed drawings, sketches, and diagrams for you to download.
      a.button(href="/downing-community.pdf", title="download downing community project drawings", data-event="download-downing-pdf") view downing-community.pdf

  +footer-nav(
    'see previous project',
    projects[6].name + '.html',
    'see next project',
    projects[projectId + 1].name + '.html'
  )

block page-script
  script.
    var project = {
      zoomPhotos: function(data, projectId) {
        var project = data.projects[projectId];
        var photos = project.photos;

        for (var i = 0; i < photos.length; i++) {
          var photo = photos[i];

          $('.zoom[data-zoom="' + photo.name + '"]').zoom({
            url: 'images/' + project.name + '-' + photo.name + '@3x.jpg',
            touch: false
          });

        }
      }
    };
    $.getJSON( 'data/projects.json', function(data) {
      // Zoom photos for Downing Community
      project.zoomPhotos(data, 0);

      //- adds span.zoom-icon for visual cue on zoomed photos
      $('.zoom').prepend('<span class="zoom-icon"></span>');
    });
