extends layout

include views/mixins/footer-nav

block title 
  | Downing Community - Sustainable Lifestyle Design

block content

  header.l-project-marquee
    img(src="images/downing-community-marquee.jpg", alt="")
  //-   .l-project-slider
  //-     //- img(src="images/downing-test.jpg", alt="")
  //-     img(src="images/downing-community-problem-large.jpg", alt="")
  //-     img(src="images/downing-community-concept-large.jpg", alt="")
  //-     img(src="images/downing-ground-floor-large.jpg", alt="")
  //-     img(src="images/downing-community-concept-large.jpg", alt="")
  //-     img(src="images/downing-ground-floor-large.jpg", alt="")

  article.l-main-content
    h1.l-project-title Downing Community

    .l-project-content
      p.drop-cap There is serious affordable housing crisis in Denver. Last year alone, 70,000 refugees entered the USA&mdash;2200 of them arrived in Denver. 25% of these refugees are Bhutanese families coming from rural agrarian societies.

      p Upon arriving to America, many families are forced into marginalized areas with high crime rates. There is little to no access to good schools let alone fresh food. This crisis creates a vicious cycle of decline, poverty and isolation.

      p Downing Community is a community of culture and hope for the Bhutanese refugees Denver. The project will give three families a chance to live an affordable, self-sustainable life, with access to great schools. This multi-family community model could open the door for many communities to follow.

      p The entire design spirals out from the community center at the heart of the house. Vegetable gardens at one’s doorstep, as well as 100% natural building materials echo Bhutanese vernacular architecture. Following dreams of the Bhutanese families here in Denver, the design includes play areas for children, ample vegetable gardens, community areas, orchards, flower gardens, chickens, goats, bees and wild foraging space. 

      p After living in desolate refugee camps these Bhutanese families deserve a new beginning. Downing Community aims to cultivate prosperity and healing as these families begin to live a new life together here in  Denver. 

      p This project is the first of many that I hope to design with  a “whole integative approach”.

      //- figure
      //-   blockquote
      //-     p &ldquo;Take a hypothetical white oak tree. Through this tree, we glimpse the benefits of ecological thinking. Instead of viewing a tree simply as something that looks nice, or provides a single offering such as apples of shade, we can begin to see how deeply connected a tree is to its surroundings. It transforms wind and sunlight into a variety of daily and seasonally changing microclimates, harvests nutrients, builds soil, pumps and purifies air and water, creates and concentrates rain, and shelters and feeds wildlife and microbes. Add all this to the better-known benefits for people: fruit or nuts, shade, climbing and other fun for kids, and the beauty of foliage, flowers and form.&rdquo;
      //-   figcaption
          //- cite: small: &mdash; Toby Hemenway


  .row
    .small-12-columns
      h2 project drawings

      figure
        span.zoom(data-zoom="detailed")#detailed
          img(src="images/downing-community-detailed.jpg")
        figcaption
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta hic accusantium blanditiis fuga rem, unde harum nostrum dolores laudantium nemo quia aliquam quasi, reiciendis beatae omnis placeat ex aspernatur temporibus.

      figure
        span.zoom
          img(src="images/downing-test.jpg", alt="")
        figcaption
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia at qui possimus atque ipsum mollitia consequatur, cumque molestias maiores quos, enim deserunt eius beatae quaerat minus, blanditiis provident eum obcaecati.
      figure
        span.zoom(data-zoom="context")#context
          img(src="images/downing-community-context.jpg", alt="")
        figcaption
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, necessitatibus voluptatem assumenda placeat facere odio sint veniam voluptatibus similique, nihil ab, ratione esse minus magnam perspiciatis, possimus eligendi dolore suscipit.
      figure
        span.zoom
          img(src="images/downing-community-concept-large.jpg", alt="")
        figcaption
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum non cupiditate temporibus totam quidem laboriosam in exercitationem, placeat voluptatum velit aut ipsa consequatur eaque corporis quis, odit accusantium dolorem molestias.
      figure
        span.zoom
          img(src="images/downing-ground-floor-large.jpg", alt="")
        figcaption
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi saepe officiis perferendis odio dolore, sint totam commodi adipisci animi quod alias sed nesciunt rem iste iusto sapiente aperiam debitis hic!


  //- +footer-nav(
  //-         'previous project',
  //-         '#',
  //-         'next project',
  //-         '#'
  //-         )

  //- section#project-photos
  //-   .l-project-photos
  //-     ul.clearing-thumbs(data-clearing).medium-block-grid-4
  //-       li: a(href="images/downing-community-problem-large.jpg")
  //-         img(src="images/downing-community-problem-thumb.jpg", alt="final perspective of the downing community project", data-clearing-interchange="[images/downing-community-problem-thumb.jpg, (default)], [images/downing-community-problem-thumb@2x.jpg, (retina)]")

  //-       li: a(href="images/downing-community-concept-large.jpg")
  //-         img(src="images/downing-community-concept-thumb.jpg", alt="final perspective of the downing community project", data-clearing-interchange="[images/downing-community-concept-thumb.jpg, (default)], [images/downing-community-concept-thumb@2x.jpg, (retina)]")

  //-       li: a(href="images/downing-ground-floor-large.jpg")
  //-         img(src="images/downing-ground-floor-thumb.jpg", alt="final perspective of the downing ground-floor project", data-clearing-interchange="[images/downing-ground-floor-thumb.jpg, (default)], [images/downing-ground-floor-thumb@2x.jpg, (retina)]")

  //-       li: a(href="images/downing-community-large.jpg")
  //-         img(src="images/downing-community-thumb.jpg", alt="final perspective of the downing community project", data-clearing-interchange="[images/downing-community-thumb.jpg, (default)], [images/downing-community-thumb@2x.jpg, (retina)]")
  //-       li: a(href="images/downing-community-problem-large.jpg")
  //-         img(src="images/downing-community-problem-thumb.jpg", alt="final perspective of the downing community project", data-clearing-interchange="[images/downing-community-problem-thumb.jpg, (default)], [images/downing-community-problem-thumb@2x.jpg, (retina)]")

  //-       li: a(href="images/downing-community-concept-large.jpg")
  //-         img(src="images/downing-community-concept-thumb.jpg", alt="final perspective of the downing community project", data-clearing-interchange="[images/downing-community-concept-thumb.jpg, (default)], [images/downing-community-concept-thumb@2x.jpg, (retina)]")

  //-       li: a(href="images/downing-ground-floor-large.jpg")
  //-         img(src="images/downing-ground-floor-thumb.jpg", alt="final perspective of the downing ground-floor project", data-clearing-interchange="[images/downing-ground-floor-thumb.jpg, (default)], [images/downing-ground-floor-thumb@2x.jpg, (retina)]")

  //-       li: a(href="images/downing-community-large.jpg")
  //-         img(src="images/downing-community-thumb.jpg", alt="final perspective of the downing community project", data-clearing-interchange="[images/downing-community-thumb.jpg, (default)], [images/downing-community-thumb@2x.jpg, (retina)]")

 
