extends layout

include views/mixins/footer-nav

block title 
  | Downing Community - Sustainable Lifestyle Design

block content
  //- Variables for template
  - var project = projects[0]
  - var photos = project.photos
  
  header.l-project-marquee
    img(src="images/" + project.name + "-marquee.jpg", alt="")

  article.l-main-content
    h1.l-project-title Downing Community

    .l-project-content
      p.drop-cap There is serious affordable housing crisis in Denver. Last year alone, 70,000 refugees entered the USA&mdash;2200 of them arrived in Denver. 25% of these refugees are Bhutanese families coming from rural agrarian societies.

      p Upon arriving to America, many families are forced into marginalized areas with high crime rates. There is little to no access to good schools let alone fresh food. This crisis creates a vicious cycle of decline, poverty and isolation.

      p Downing Community is a community of culture and hope for the Bhutanese refugees Denver. The project will give three families a chance to live an affordable, self-sustainable life, with access to great schools. This multi-family community model could open the door for many communities to follow.

      p The entire design spirals out from the community center at the heart of the house. Vegetable gardens at one’s doorstep, as well as 100% natural building materials echo Bhutanese vernacular architecture. Following dreams of the Bhutanese families here in Denver, the design includes play areas for children, ample vegetable gardens, community areas, orchards, flower gardens, chickens, goats, bees and wild foraging space. 

      p After living in desolate refugee camps these Bhutanese families deserve a new beginning. Downing Community aims to cultivate prosperity and healing as these families begin to live a new life together here in  Denver. 

      p This project is the first of many that I hope to design with  a “whole integative approach”.

  section.l-project-photos-wrapper
    .l-project-photos-content
      h2 project drawings

      //- Uses gulp-data to pull in photos from data/projects.json
      //- +list-project-photos(project.name, photos, true)
      each photo in photos
        - var projectName = project.name
        figure
          span.zoom(data-zoom= photo.name)
            img(
              src="images/" + projectName + "-" + photo.name + ".jpg",
              alt=projectName + " project " + photo.name + " photo",
              data-interchange="[ images/" + projectName + "-" + photo.name + "-small.jpg, (default)], images/" + projectName + "-" + photo.name + ".jpg, (large)], [ images/" + projectName + "-" + photo.name + "@2x.jpg, (retina)]")
          figcaption
            p= photo.caption

  .row
    .small-12.columns.medium-8.medium-centered.large-6.panel
      h3 Want To See More?
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A itaque debitis facilis nesciunt est velit vel quam numquam, error ab minima suscipit reiciendis quasi, vitae, molestias rerum maxime dolor assumenda?
      a.button(href="downing-community.zip") download project drawings

  //- +footer-nav(
  //-         'previous project',
  //-         '#',
  //-         'next project',
  //-         '#'
  //-         )
 
