extends layout

block title 
  | Home - Sustainable Lifestyle Design

block content
  .l-home-header-wrapper
    header.l-home-header
      h1 Sustainable Lifestyle Design
      h4.sub-title I design lifestyles people dream of living.
      a.play-button(href="https://vimeo.com/121852108")
        .play: span