extends views/layouts/project

block title 
  | Koshirakura - Sophie Ellison Design

block content
  //- Variables for template
  - var project = projects[4]
  
  +project-header(project)

  article.l-main-content
    h1.l-project-title #{capitalize(project.name)}
    .l-project-content
      p.drop-cap Building on the belief that “food brings people together”, a number of students including myself joined architect, Shin Egashira to work with a local, rural community in Koshirakura, Japan to build a wood-fired oven and A-frame timber shelter. This would provide a space for the community to gather, socialise, cook, eat and take time away from their work - mainly agricultural. 

      p The heart of the project lay in the relationship and collaboration with the local community. We worked alongside them from design to build, and from festivals to song.

      p The A-frame timber structure serves as a shelter for both oven and people and the timber shuttering is designed to protect it from heavy annual rain and snowfall. 

    +list-project-photos(project.name, project.photos, false)