extends views/layouts/project

block vars
  - var projectId = 6
  - var project = projects[projectId]
  - var page = { }
  - page.title = capitalize(humanize(project.name)) + 'Project | ' + site.title
  - page.description = project.description
  - page.url = site.domain + 'manzano.html'
  - page.image = site.domain + 'images/manzano-finished.jpg'


block content  
  +project-header(project)

  article.l-main-content
    h1.l-project-title= capitalize(project.name)
    .l-project-content
      p.drop-cap= project.description
      p The project included locally harvested vigas, a rainwater catchment system, solar PVs, sheep wool roof insulation, adobe plaster and adobe floors.  To view more photos and to see the process from start to finish, please see the project here: 
        a(href="http://pajaconstruction.com/portfolio/off-grid-straw-bale-home-manzano-nm/") http://pajaconstruction.com/portfolio/off-grid-straw-bale-home-manzano-nm/

    +list-project-photos(project.name, project.photos, false)

  +footer-nav(
    'see previous project',
    projects[projectId - 1].name + '.html',
    'see my process',
    'my-process.html'
    )