extends layout

block title 
  | My Process - Sustainable Lifestyle Design

block content
  section.l-my-process
    //- header.l-my-process
    .row 
      .small-12.medium-8.medium-centered.large-7.columns
        h1 My Process
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde repellat facilis blanditiis, praesentium! Atque dolorem quasi deserunt iste, perspiciatis tempora tempore officia, omnis, inventore autem placeat exercitationem facilis dicta facere! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci modi, culpa totam expedita harum ab dolore nobis ipsum numquam accusantium optio, corporis odio voluptas architecto veritatis reprehenderit vero aspernatur excepturi.
    //- process-timeline-wrapper
    .path-container
      .m-process-step-header-wrapper
        .m-process-step-header
          h2 1. Discover
          
      .row.path-item
        .large-7.push-5.columns
          .circle.circle-left
        .large-5.pull-7.columns.path-text.left
          h3 Interview
          p I will meet with you to get a deeper understanding of exactly what you’re looking for. We will talk through your goals, visions, dreams, logistics, budget and much more.

          a(href='#') Show something cool &raquo;
      .row.path-item
        .large-7.columns
          .circle.circle-right.right
        .large-5.columns.path-text.right
          h3 Observation
          p I will do an initial observation of your site;  its soil types, microclimates, patterns, cycles, wildlife habits and existing habitats. I will also sketch your home; it’s layout, orientation, scale, microclimates, opening, use and views. 
          a(href='#') Show something cool &raquo;
      .row.get-feedback.path-item
        .large-7.push-5.columns
          .circle.circle-left
        .large-5.pull-7.columns.path-text.left
          h3 Site Analysis
          p Using technology and observation, I will bring together climatic, habitat and topographic data for you site, and use this as a basis from which to begin the design process. This will include anything from finding exact wind directions and speed throughout different times of the year, so that I can design shelter/open areas where necessary, and use it to passively cool your home and site, to the different soil types on your land which will deduce what species we can plant where. 
          a(href='#') Show something cool &raquo;
      .row.land-job.path-item
        .large-7.columns
          .circle.circle-right.right
             
        .large-5.columns.path-text.right
          h3 Lorem ipsum dolor sit amet, consectetur
                 
          p Something that happened in the past or will happen in the future Lorem ipsum dolor sit amet, consectetur adipiscing elit.  a est. Suspendisse potenti. Sc lorem pretium, molestie
          a(href='#') Show something cool &raquo;
      span.line.hide-for-small
