extends layout

include views/mixins/footer-nav

block title 
  | My Process - Sustainable Lifestyle Design

block content
  article.l-main-content  
    section.l-my-process
      //- header.l-my-process
      .row 
        header.l-my-process-header
          h1 My Process
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde repellat facilis blanditiis, praesentium! Atque dolorem quasi deserunt iste, perspiciatis tempora tempore officia, omnis, inventore autem placeat exercitationem facilis dicta facere! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci modi, culpa totam expedita harum ab dolore nobis ipsum numquam accusantium optio, corporis odio voluptas architecto veritatis reprehenderit vero aspernatur excepturi.
      //- process-timeline-wrapper
      .m-process-wrapper
        .m-process-step-header-wrapper
          .m-process-step-header
            h2 1. Discover
            
        .m-process-step-item
          .m-process-icon-content
            .m-process-icon
          .m-process-copy-content
            h3 Interview
            p I will meet with you to get a deeper understanding of exactly what you’re looking for. We will talk through your goals, visions, dreams, logistics, budget and much more.

        .m-process-step-item.odd
          .m-process-icon-content
            .m-process-icon
          .m-process-copy-content
            h3 Observation
            p I will do an initial observation of your site;  its soil types, microclimates, patterns, cycles, wildlife habits and existing habitats. I will also sketch your home; it’s layout, orientation, scale, microclimates, opening, use and views. 
        .m-process-step-item
          .m-process-icon-content
            .m-process-icon
          .m-process-copy-content
            h3 Site Analysis
            p Using technology and observation, I will bring together climatic, habitat and topographic data for you site, and use this as the basis of my design process. This will include a range of analyses&mdash;from wind direction and speed, to soil composition and native plant species.
        span.line#discover
        hr.m-process-divider

      .m-process-wrapper
        .m-process-step-header-wrapper
          .m-process-step-header
            h2 2. Design

        .m-process-step-item.odd
          .m-process-icon-content
            .m-process-icon
          .m-process-copy-content
            h3 Conceptual Design
            p Using all aspects of the discovery phase, I will come up with one or more initial designs for your site. This design will bring together all elements into one unified design, each one connected and benefitting from another. If you are also designing a new home, this phase will also include conceptual drawings from the architect who I will have work alongside. 
        .m-process-step-item
          .m-process-icon-content
            .m-process-icon
          .m-process-copy-content
            h3 Detailed Design
            p There will most likely be some back and forths with the conceptual design, but once we have landed on something we are all happy with, I will draw a detailed design. This is the final stage before implementation and the drawings will be ready to hand over to the landscapers. 
        span.line#design
        hr.m-process-divider
      .m-process-wrapper
        .m-process-step-header-wrapper
          .m-process-step-header
            h2 3. Create

        .m-process-step-item.odd
          .m-process-icon-content
            .m-process-icon
          .m-process-copy-content
            h3 Planning
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore enim, quas? Corrupti fuga iusto iure architecto a asperiores eum ullam. Dolore velit ullam, enim, soluta deleniti harum ab. Iste, quasi? 

        .m-process-step-item
          .m-process-icon-content
            .m-process-icon
          .m-process-copy-content
            h3 Implementation
            p Finally, I will gather a team of experts to implement the design and make any last minute adjustments on site. 
        
        span.line#create
      .row
        .l-my-process-footer    
          +footer-nav(
            'read my story',
            '/about.html',
            'view my inspiration',
            '/inspiration.html'
            )
