extends views/layouts/project

block title 
  | Negev - Sophie Ellison Design

block content
  //- Variables for template
  - var project = projects[4]
  
  +project-header(project)

  article.l-main-content
    h1.l-project-title #{capitalize(project.name)}
    .l-project-content
      p.drop-cap In the middle of the Negev desert, Israel, I volunteered in the process of building a family of four’s straw-bale house, designed by Nava Beja. The regulation is Israel is such that a concrete bomb shelter must be constructed on the basement level, so only the upper level was straw bale. I was mainly involved in the clay and lime plastering of the house yet learnt about the entire structure simply by working within the exposed structure.

    +list-project-photos(project.name, project.photos, false)