extends layout

include views/mixins/footer-nav

block title 
  | Negev - Sustainable Lifestyle Design

block content
  article.l-main-content
    .l-project-content
      h1 Negev
      img(src="http://placehold.it/600x300", alt="")
      p.drop-cap In the middle of the Negev desert, Israel, I volunteered in the process of building a family of four’s straw-bale house, designed by Nava Beja. The regulation is Israel is such that a concrete bomb shelter must be constructed on the basement level, so only the upper level was straw bale. I was mainly involved in the clay and lime plastering of the house yet learnt about the entire structure simply by working within the exposed structure.
