extends layout

include views/mixins/footer-nav

block title 
  | Positive Dialogues - Sustainable Lifestyle Design

block content

  //- variables for iteration below
  - var project = projects[2]
  - var photos = project.photos

  header.l-project-marquee
    img(src="images/positive-dialogues-marquee.jpg", alt="")

  article.l-main-content
    .l-project-content
      h1 Positive Dialogues

      p.drop-cap Positive Dialogues was a collaboration with the community of Soho in London to re-think the large-scale redevelopment of Berwick street market. Westminster Council had previously attempted to redevelop the street in 2006, but lost £600,000 in the process due to the complete disregard of any local voices. 

      p Building a hand-made market stall out of old reclaimed floorboards, we held open design workshops every week for six months in order to engage the locals in the process of decision making and design. 

      p Pushing the boundaries of traditional architectural representation, we engaged the community through workshops, events, shadow storytelling, painting, film and we initiated meetings with diverse members of the community and developers. 

      p The market stall in itself offered nothing to sell, but rather gave people a space to exchange ideas. Whereas before, a disjointed communication led to the polarization of the community, this time, the open-mindedness of a participatory approach was bringing all members of the community together.

      figure.blockquote
        blockquote(cite="")
          p &ldquo;It is primarily not the architecture that makes something special – it’s the people: everyone who worked on it with all efforts and potentials and all who live in it and fill the space with atmosphere.&rdquo;
        figcaption
          cite: small: a(href="javascript:void()") &mdash; Anna Heringer

  section.l-project-photos-wrapper
    .l-project-photos-content
      h2 project drawings

      //- Uses gulp-data to pull in photos from data/projects.json
      //- +list-project-photos(project.name, photos, false)
      each photo in photos
        - var projectName = project.name
        figure
          span.zoom(data-zoom= photo.name)
            img(
              src="images/" + projectName + "-" + photo.name + ".jpg",
              alt=projectName + " project " + photo.name + " photo")
          figcaption
            p= photo.caption
