extends views/layouts/default

block title 
  | Projects - Sophie Ellison Design

block content
  include views/helpers/humanize
  article.l-main-content
    .l-projects-index-content
      h1 Projects

      ul.l-projects-list
        each project in projects
          li
            a(href="/" + project.name + ".html")
              h2 #{humanize(project.name)}
              img(src="images/" + project.name + "-thumb.jpg",
              alt=project.name + " project " + " thumbnail",
              data-interchange="[ images/" + project.name + "thumb.jpg, (default)], [ images/" + project.name + "-thumb@2x.jpg, (retina)]").l-project-thumb
            p= project.description
            a.button(href="/" + project.name + ".html") read more

      +footer-nav(
        'watch my video',
        '/',
        'read what i do',
        '/what-i-do.html'
        )
