extends layout

include views/mixins/footer-nav

block title 
  | Projects - Sustainable Lifestyle Design

block content
  article.l-main-content
    .l-projects-index-content
      h1 Projects

      ul.l-projects-list
        li 
          h2 Downing Community
          img(src="http://placehold.it/600x300", alt="")
          p Downing Community is a community of culture and hope for the Bhutanese refugees Denver. The project will give three families a chance to live an affordable, self-sustainable life, with access to great schools. This multi-family community model could open the door for many communities to follow.
          a.button.secondary(href="/downing-community.html") Read more

        li 
          h2 Project Dehradun
          img(src="http://placehold.it/600x300", alt="")
          p Working together with the community of Nanhi Dunya, we held workshops with the children of the school to design new classrooms on the rooftop of the existing school. Our aim throughout was to build up on local knowledge, hold participatory design workshops and utilise local building techniques.
          a.button.secondary(href="/project-dehradun.html") read more

        li 
          h2 Positive Dialogues
          img(src="http://placehold.it/600x300", alt="")
          p Positive Dialogues was a collaboration with the community of Soho in London to re-think the large-scale redevelopment of Berwick street market. Westminster Council had previously attempted to redevelop the street in 2006, but lost £600,000 in the process due to the complete disregard of any local voices.
          a.button.secondary(href="/positive-dialogues.html") read more

        li 
          h2 Koshirakura
          img(src="http://placehold.it/600x300", alt="")
          p Building on the belief that “food brings people together”, a number of students including myself joined architect, Shin Egashira to work with a local, rural community in Koshirakura, Japan to build a wood-fired oven and A-frame timber shelter. This would provide a space for the community to gather, socialise, cook, eat and take time away from their work - mainly agricultural.
          a.button.secondary(href="/koshirakura.html") read more

        li 
          h2 Negev
          img(src="http://placehold.it/600x300", alt="")
          p In the middle of the Negev desert in Israel, I volunteered in the process of building a family of four’s straw-bale house, designed by Nava Beja, Ecoarc. The regulation is Israel is such that a concrete bomb shelter must be constructed on the basement level, so only the upper level was straw bale. I was mainly involved in the clay and lime plastering of the house yet learnt about the entire structure simply by working within the exposed structure.
          a.button.secondary(href="/negev.html") read more

      +footer-nav(
        'watch my video',
        '/',
        'read what i do',
        '/what-i-do.html'
        )
