extends layout

block title 
  | Projects - Sustainable Lifestyle Design

block content
  h1 Projects

  ul
    li Downing Community
    li Project Dehradun
    li Positive Dialogues
    li Koshirakura
    li Negev
