extends layout

include views/mixins/footer-nav

block title 
  | Projects - Sustainable Lifestyle Design

block content
  article.l-main-content
    .l-projects-content
      h1 Projects

      ul
        li Downing Community
        li Project Dehradun
        li Positive Dialogues
        li Koshirakura
        li Negev

      +footer-nav(
        'watch my video',
        '/',
        'read what i do',
        '/what-i-do.html'
        )
