extends views/layouts/project

block title 
  | Project Dehradun - Sophie Ellison Design

block content
  //- Variables for template
  - var project = projects[1]

  +project-header(project)

  article.l-main-content
    h1.l-project-title #{capitalize(humanize(project.name))}
    .l-project-content
      p.drop-cap Project Dehradun was a collaboration between the Community Cluster, an organisation that I co-founded and Nanhi Dunya, an education-based charitable organization in Dehradun, Northern India. 

      p Working together with the community of Nanhi Dunya, we held workshops with the children of the school to design new classrooms on the rooftop of the existing school. Our aim throughout was to build up on local knowledge, hold participatory design workshops and utilise local building techniques.

      p Our workshops with the children involved; engaging the senses, measuring space with the body, imaginary acting in space, drawing dream designs, sketching and building mock-ups in real scale on the rooftop of the school. 

  section.l-project-photos-wrapper
    .l-project-photos-content
      h2 project photos

      //- Uses gulp-data to pull in photos from data/projects.json
      +list-project-photos(project.name, project.photos, false)