extends views/layouts/default

block vars
  - var page = { }
  - page.title = 'Sitemap | ' + site.title
  - page.description = 'This the sitemap for sophie-ellison.com. You can find all the pages on my website here.'

block content
  article.l-main-content
    hgroup.l-sitemap-header
      h1 Sitemap
      h4.sub-title All the pages on 
        a(href="http://sophie-ellison.com") sophie-ellison.com
        |  can be found here:
    .l-sitemap-content
      h6 You might be able to find what you're looking for here:
      include views/includes/sitemap
