extends views/layouts/default

include views/mixins/footer-nav

block title 
  | What I Do - Sustainable Lifestyle Design

block content
  article.l-main-content
    hgroup.l-what-i-do-header
      h1 What I Do
      h4.sub-title I design sustainable homes and gardens
    .l-what-i-do-content

      img(src="images/sophie-ellison-drawing-board.jpg", alt="")

      p.drop-cap In short, I design sustainable homes and gardens&mdash;but my work is about so much more than designing a beautiful home with a fruitful garden. My work is about understanding the needs of my clients and using nature as a model to design a 
        em unified system
        |  that enables the lifestyle of their dreams.

      p This concept of using nature as a model to design a home-garden system is new to some people. To explain, I'd like to share three ideas that act as the foundation for all my work:
      ul
        li Lifestyle emanates from our home
        li A sustainable life begins with a sustainable home
        li Nature is the ultimate sustainable system.

      p I see all the elements of a site&mdash;from the needs of the people, to the composition of the soil&mdash;as integral pieces to the larger puzzle of a sustainable lifestyle design. The result is an organic self-sustaining system designed to meet the needs of its inhabitants and its environment.

      aside.pull-quote
        blockquote 
          p Rather than fighting against nature, I use nature as a model to design sustainable homes and gardens.

      +footer-nav(
        'view my projects',
        '/projects.html',
        'explore my process',
        '/my-process.html'
        )
