extends views/layouts/default

include views/mixins/footer-nav

block title 
  | What I Do - Sustainable Lifestyle Design

block content
  article.l-main-content
    .l-what-i-do-content
      h1 What I Do

      p.drop-cap Whether you're looking to build a lifestyle around a new home or use an existing structure, my expertise lies in understanding your needs and designing the lifestyle of your dreams. To explain what I do, first I'd like to share three beliefs that act as the foundation for all my work:

      ul
        li I believe lifestyle emanates from our home
        li I believe a sustainable life begins with a sustainable home
        li I believe that nature is the ultimate sustainable system.

      p So much of modern design fights against nature instead of working 
        em with
        |  nature. 

      aside.pull-quote
        blockquote 
          p Rather than fighting against it, I use nature as a model to design sustainable homes and gardens.

      p I see all the elements of a site&mdash;from the needs of the people, to the composition of the soil&mdash;as integral pieces to the larger puzzle of a sustainable lifestyle design. The result is an organic self-sustaining system designed to meet the needs of its inhabitants and its environment.

      +footer-nav(
        'view my projects',
        '/projects.html',
        'explore my process',
        '/my-process.html'
        )
