extends views/layouts/default

block title 
  | What I Do - Sophie Ellison Design

block content
  article.l-main-content
    hgroup.l-what-i-do-header
      h1 What I Do
      h4.sub-title I design sustainable homes, gardens and landscapes.
    .l-what-i-do-content

      img(src="images/sophie-ellison-drawing-board.jpg", alt="", data-interchange='[images/sophie-ellison-drawing-board.jpg, (default)], [images/sophie-ellison-drawing-board@2x.jpg, (retina)]')

      p.drop-cap In short, I design sustainable homes, gardens and landscapes&mdash;but my work is about so much more than designing a beautiful home with a fruitful garden. My work is about understanding the individual needs of my clients and using nature as a model to design a 
        em unified system
        |  of lifestyle, landscape and building. 

      p Living a life where you can grow enough organic food to feed your family is entirely possible. Living a life where you are not dependant on the grid is not only feasible but incredibly fulfilling and fruitful.

      p This concept of using nature as a model to design a home-garden system is new to some people. To explain, I'd like to share three ideas that act as the foundation for all my work:
      ul
        li A sustainable life begins with a sustainable home
        li Every element in the design depends on, and serves, one another
        li Nature is the ultimate sustainable system.

      h2 my services
      p Whether you have an existing home and would like to focus on landscape, or whether you are planning to build—I offer a variety of services that can help you achieve your goals at any stage. Depending on your needs, I collaborate with experts in the fields of architecture, landscape, horticulture and permaculture. 
      h5 The services I offer include:
      ul
        li Sustainable Landscape design
        li Architectural design
        li Permaculture design
        li Hand-drafting (plans, perspectives, sections, elevations, etc.)
        li Teaching, speaking and workshops

      p Designing a sustainable lifestyle starts with a few small steps, and my guess is if you're reading this—you've already made several.

      p It would be my pleasure to meet with you and see if there's anything I can do to help design the lifestyle of your dreams.

      h2 my values
      p All the elements of a site—from the needs of the people, to the composition of the soil—are integral pieces to the larger puzzle of a sustainable design. The result is an organic self-sustaining system designed to meet the needs of its inhabitants and its environment.

      p At the heart of every project there are eight core values I strive to achieve:

      ul
        li accessibility
        li affordability
        li beauty
        li functionality
        li high yields
        li low environmental impact
        li low maintenance
        li unity


      figure.blockquote
        blockquote(cite="")
          p &ldquo;Ecological gardening moves beyond the &lsquo;one role for each plant&rsquo; philosophy. When we understand the multiple roles that plants can play, we can link together their many functions in intelligent ways. Then we can design gardens full of resilient, interconnected networks.&rdquo;
        figcaption
          cite: small: a(href="http://www.patternliteracy.com/") &mdash; Toby Hemenway

    +footer-nav(
      'view my projects',
      '/projects.html',
      'contact me',
      '/contact.html'
      )
