extends layout

block title 
  | What I Do - Sustainable Lifestyle Design

block content
  .l-what-i-do-content
    h1 What I Do

    p My work as a lifestyle designer stems from the three following beliefs:
    ul
      li I believe lifestyle emanates from the home we live in
      li I believe a sustainable life starts with a sustainable home
      li I believe that nature is the ultimate sustainable system.

    p Using nature as a model, I design homes and their surrounding landscape as a
      em  unified sustainable system.
      |  I see all the elements of a site&mdash;from the needs of the people who own it, to the type of soil on the land&mdash;as integral pieces to the larger puzzle of a sustainable lifestyle design.

    p Whether you're looking to build a new home or use an existing home as your base, I will work with you to understand your needs and aspirations as well as the nature of your land. I collaborate with architects, horticulturists, and landscapers to create a unified design for your land and your home that will allow you to live the life you dream of living.

