- function removeHyphens(string) { return string.split('-'); };
- function outputWords(words) { return words.join(' '); };
- function humanizeName(name) { var words = removeHyphens(name); return outputWords(words); };