.l-page-wrapper {
  min-height: 100%;
  position: relative;
}

.l-main-wrapper {
  padding-bottom: 3.3rem;
}

.l-main-content {
  @include grid-row();
  padding: 3.3rem 0;
}

.l-about-content,
.l-my-story-content,
.l-what-i-do-content,
.l-my-process-header,
.l-my-default-footer {
  @include global-single-column;
}

.l-my-process-header {
  text-align: center;
}

.l-what-i-do-header {
  text-align: center;
  h1 {
    margin-bottom: .825rem;
  }
  .sub-title {
    margin-bottom: 3.3rem;
  }
}

.l-contact-info {
  font-family: $header-font-family;
  list-style: none;
  margin: 0;
  padding: 0;
  dt, dd {
    display: inline-block;
  }
  dt {
    font-weight: 600;
  }
  dd {
    margin-left: .4125rem;
  }
  a {
    color: $primary-color;
    font-variant-numeric: lining-nums;
    font-feature-settings: 'lnum';
    letter-spacing: .7px;
  }
}

.l-contact-content {
  @include global-single-column;
}


