.l-site-footer {
  @include grid-row();
  min-width: 100%;
  padding: 1rem 0;
  margin: 0;
  background: $header-font-color;
  h6 {
    color: white;
  }
  ul.l-social-list {
    display: table;
    margin: 0 auto;
    padding: 1rem 0 0 0;
    @media #{$medium-up} {
      float: left;
      padding: 0;
    }
    li {
      display: inline-block;
      &:not(.last) {
        margin-right: .825rem;
        @media #{$large-up} {
          margin-right: 1.65rem;
        }
      }
      a {
        color: white;
        width: 2.8rem;
        height: 2.8rem;
        @media #{$large-up} {
          width: 1.65rem;
          height: 1.65rem;
        }
        display: inline-block;
        img {
          @media #{$large-up} {
            width: 1.65rem;
            height: 1.65rem;
          }
          margin: 0;
        }
      }
    }
  }
  ul.l-contact-list {
    list-style: none;
    margin: 0;
    padding: 0;
    @media #{$medium-up} {
      float: right;
    }
    li {
      // margin-right: 1.65rem;
      a.contact {
        color: lighten($primary-color, 15%);
      }
    }
  } 
}

.l-site-footer-column {  
  font-family: $header-font-family;
  letter-spacing: .7px;
  text-align: center;
  margin-bottom: 1.65rem;
  @include grid-column(12);
  @media #{$medium-up} {
    @include grid-column(4);
    margin: 0;
  }
  a {
    color: white;
  }
}

// Footer Nav Mixin 
.l-footer-nav-wrapper {
  @include grid-row();
}
.l-footer-nav-content {
  @include global-single-column;
}