.l-main-header {
  width: 100%;
  height: 4rem;
  background-color: $white;
  border-bottom: 1px solid $body-font-color;
  .l-main-nav {
    ul {
      margin: 0;
    }
    .l-menu-left {
      float: left;
    }
    .l-menu-right {
      float: right;
      li {
        margin-right: 1.25rem;
      }
    }
    li {
      padding: 1.25rem 0;
      display: inline-block;
    }

  }

}
