.l-projects-index-content, .l-project-content {
  @include global-single-column;
}

.l-projects-list {
  list-style: none;
  padding-left: 0;
  li {
    margin-bottom: 3.3rem;
  }
}

.l-project-thumb {
  // border: 1px solid $body-font-color;
}

.l-project-content {
  // For some reason this first-child selector is not working
  // p:first-child {
  //   @extend .drop-cap;
  // }
}

.l-project-photos-wrapper {
  @include grid-row();
}

.l-project-photos-content {
  @include grid-column(12);
  img {
    margin: 0 auto;
  }
}

.l-project-photos {
  padding: 3.3rem 0;
  @include grid-row();
  text-align: center;
}

.zoom {
  display:inline-block;
  position: relative;
  border: 1px solid $body-font-color;
  margin-bottom: .4125rem;
  .zoom-icon {
    position: absolute;
    width: 3.3rem;
    height: 3.3rem;
    top: -1.65rem;
    right: -1.65rem;
    transform: rotate(45deg);
    overflow: hidden;
    background-color: rgba($primary-color, .65);
    &:after {
      position: absolute;
      top: 37px;
      right: 21px;
      content: '';
      background-image: url("../images/zoom.svg");
      background-repeat: no-repeat;
      height: .825rem;
      width: .825rem;
      transform: rotate(-45deg);
    }
  }
}

.zoom img {
  display: block;
  margin: 0;
  padding: 0;
}

.zoom img::selection { background-color: transparent; }

.l-project-marquee {
  height: auto;
  width: 100%;
  margin: 0 auto;
  box-shadow: $global-shadow;
  img {
    margin: 0;
    width: 100%;
    max-height: 50vh;
  }
}

.l-project-title {
  text-align: center;
}
