.l-projects-index-content, .l-project-content {
  @include global-single-column;
}

.l-projects-list {
  list-style: none;
  padding-left: 0;
  li {
    margin-bottom: 3.3rem;
  }
}

.l-project-content {
  // For some reason this first-child selector is not working
  // p:first-child {
  //   @extend .drop-cap;
  // }
}

#project-photos {
  background-color: $secondary-color;
}

.l-project-photos {
  padding: 3.3rem 0;
  @include grid-row();
  text-align: center;
}

.zoom {
  display:inline-block;
  position: relative;
  border: 1px solid $body-font-color;
}

.zoom img {
  display: block;
}

.zoom img::selection { background-color: transparent; }

.l-project-marquee {
  background-color: $secondary-color;
  height: 70vh;
  margin: 0 auto;
  img {
    width: 50%;
    text-align: center;
    box-shadow: $global-shadow;
    
  }
}

.l-project-title {
  text-align: center;
}
